.Contenedor
{
	border: 2px solid orange;
	margin-right:82%;
	margin-left: 1%;
	margin-top: 10px;
	margin-bottom: 10px;
}
.Titulo
{	
	padding: 4px 11px;
}
.Contenido
{
	
	padding-right: 11px;
	padding-left: 11px;
	padding-bottom: 10px;
}
div{
	margin-bottom:50%;
	
}